.logo {
    height: auto;
    width: 120px;
    border-radius: 10px;
}

h2{
    color: black;
}


/**************Header****************/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    z-index: 999;
    position: relative;
    top: 0;
    left: 0;
}

/***************************Navbar*****************************/
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    margin: 0 15px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 550;
    color: rgb(0, 0, 0);
    transition: 0.25s ease;
    font-family: "Bebas Neue", sans-serif;
}

#navbar li a:hover {
    color: rgb(255, 219, 41);
}

#navbar li a.active {
    color: rgb(255, 219, 41);
}

/***************************Home*****************************/
h2 {
    font-size: 60px;
    text-align: center;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/***************************About Us*****************************/
#team-list {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
  }

  #about-list{
    justify-content: center;
    list-style: none;
}
  
  #garr-list {
    margin-right: 60px;
  }
  
  #rey-list {
    margin-right: 60px;
  }
  
  #teamImg {
    width: auto;
    height: 500px;
    border-radius: 30%;
  }

#origin-info {
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;

}

#origin-info p{
    font-size: 35px;
}
  
#welcome {
    margin-top: 30px;
    text-align: center;
}

#about-list {
    font-size: 35px;
}

#mediaLinks{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 40px;
}

#mediaLinks i{
    margin: 0 2.5%;
    transition: 0.25s ease;
}

#mediaLinks i:hover{
    color: rgb(255, 219, 41);
}

/***************************Store*****************************/
#food{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
    color: azure;
    align-content: center;
}

.productBox{
    display: block;
    justify-content: center;
    align-items: center; 
}

.product{
    display: flex;
    width: 90%;
    height: 250px;
    background: rgb(16, 5, 5);
    border-radius: 25px;
    box-shadow: 0px 0px 30px rgba(211, 12, 12, 0.02);
    margin: 15px 5%;
    transition: 0.2s ease;
    overflow: hidden;
    background-size:contain;
    background-position: center;
}

.product:hover{
    box-shadow: 0 0 30px rgba(255, 219, 41, 0.65);
}

.productInfo{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.productTitle{
    width: 100%;
    height: 15px;
    font-size: 35x;
    font-weight: bold;
    z-index: 2;
}

.productParagraph{
    justify-self: center;
    margin-right: 50%;
    margin-left: 10px;
    height: 15px;
    font-size: 20px;
    z-index: 2;
}

.addCartButton{
    font-family: 'Poppins', sans-serif; 
    font-size: 25px;
    border-radius: 10px;
    margin-left: 50%;
    width: 20%;
    color: rgb(0, 0, 0);
    border: transparent solid;
    cursor: pointer;
    background-color: rgb(255, 219, 41);
}

.addCartButton:hover{
    box-shadow: 0px 5px 15px 0px rgba(255, 219, 41, 0.65);
}

.shirtDropdown {
    width: 20%;
    border-radius: 10px;
    background-color: rgb(255, 219, 41);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-left: 50%;
}
/********Form******/
.form {
    padding: 20px 10px;
    border-radius: 25px;
    color: rgb(255, 219, 41);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin: 20px 0;
}

.formTitle{
    color: rgb(0, 0, 0);
    width: auto;
    height: 40px;
    font-size: 40px;
    margin-left: 30px;
}

.form .formBox{
    display: flex;
    padding: 0px 40px;
}

.formInputRow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.formInputRow .formInputGroup{
    flex-basis: 45%;
}

.formInput{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    padding-bottom: 5px;
    background-color: transparent;
}

.formInput::placeholder{
    color: rgb(0, 0, 0);
    opacity: 0.9;
}

.formTextArea{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #000000;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0.9;
}

.formSubmitButton{
    font-family: 'Poppins', sans-serif;
    background: rgb(255, 219, 41);
    width: 200px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(233, 167, 35, 0.3)
}

.formSubmitButton:hover{
    cursor: pointer;
}

.formBottomText{
    font-size: 13px;
}
/********Cart******/
#infoForm{
    margin: 20px 0;
}

#infoForm .formTitle{
    font-size: 30px;
    margin-bottom: 20px;
}

#infoForm label{
    font-size: 23px;
}

#infoForm input{
    font-size: 18px;
}

#order{
    border-radius: 25px;
    font-family: "Poppins", sans-serif;
    color:rgb(0, 0, 0);
    width: 60%;
    height: auto;
    font-size: 25px;
    margin-left: 30px;
}

.item{
    width: 100%;
    font-size: 20px;
    color: rgb(255, 219, 41);
}

.clear{
    background: rgb(221, 32, 32);
    font-family: 'Poppins', sans-serif;
    width: 200px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    margin-left: 50px;
    height: 25px;
    border-radius: 30px;
}

.total{
    margin-left: 210px;
    font-size: 20px;
    width: 100%;
}

/***************************Mobile Scaling*****************************/
@media screen  and (max-width: 560px) {
    .logo {
        width: 100px;
        width: 15vw;
        margin-right: 0px;
    }

    .productTitle{
        font-size: 20px;

    }

    .productParagraph{
        font-size: 10px;
        margin-top: 50%;
    }

    .addCartButton {
        font-size: 10px;
    }

    .shirtDropdown {
        font-size: 10px;
    }

    #header {
        display: grid;
        font-size: 20px;
    }
}